<template>
  <v-container>
    <v-card class="text-sm-center text-md-center" v-if="isRegister">
      <h2> Registration Successful....</h2>
    </v-card>
    <v-card class="text-sm-center text-md-center" v-if="!isRegister">
      <h1> Registration Form</h1>
      <v-form
        ref="form"
        v-model="valid">
        <v-container>
          <v-layout>
            <v-flex
              xs12
              md6
            >
              <v-text-field
                v-model="regData.firstName"
                :rules="[rules.required]"
                label="First name"
              ></v-text-field>
            </v-flex>

            <v-flex
              xs12
              md6
            >
              <v-text-field
                v-model="regData.lastName"
                :rules="[rules.required]"
                label="Last name"
              ></v-text-field>
            </v-flex>
          </v-layout>
          <v-layout>

            <v-flex
              xs12
              md6
            >
              <v-text-field
                v-model="regData.email"
                :rules="emailRules"
                label="E-mail"
                required
              ></v-text-field>
            </v-flex>
            <v-flex
              xs12
              md6
            >
              <v-text-field
                v-model="regData.password"
                :append-icon="show ? 'visibility' : 'visibility_off'"
                :type="show ? 'text' : 'password'"
                hint="At least 8 characters"
                counter
                label="password"
                required
                :rules="[rules.required, rules.min]"
                @click:append="show = !show"
              ></v-text-field>
            </v-flex>

          </v-layout>
          <v-layout>

            <v-flex
              xs12
              md6
            >
              <v-text-field
                v-model="regData.address"
                :rules="[rules.required]"
                label="Home Address"
                required
              ></v-text-field>
            </v-flex>

            <v-flex
              xs12
              md3>
              <v-text-field

                v-model="regData.city"
                :rules="[rules.required]"
                label="city"
                required
              ></v-text-field>
            </v-flex>
            <v-flex
              xs12
              md3>
              <v-text-field

                v-model="regData.province"
                :rules="[rules.required]"
                label="province"
              ></v-text-field>
            </v-flex>
          </v-layout>
          <v-layout>
            <v-flex
              xs12
              md4>
              <v-text-field

                v-model="regData.phoneNumber"
                :rules="[rules.required]"
                label="Phone Number"
                required
              ></v-text-field>
            </v-flex>
            <v-flex
              xs12
              md4>
              <v-text-field

                v-model="regData.taxCode"
                :rules="[rules.required]"
                label="Tax Code"
                required
              ></v-text-field>
            </v-flex>
            <v-flex
              xs12
              md4>
              <v-text-field

                v-model="regData.zipCode"
                :rules="[rules.required]"
                label="Zip Code"
                required
              ></v-text-field>
            </v-flex>
          </v-layout>
          <v-layout>
            <v-flex
              v-if="amount!== 0 "
              md6
              sm6
              class="text-md-center text--white"
            >
              <v-checkbox
                v-model="isCoupon"
                label="Apply coupon"
              ></v-checkbox>
            </v-flex>
            <v-flex md6 sm6 class="text-danger">
              <p v-if="amount!== 0 "
                 style="font-family: gubblebum-blocky, monospace; font-size: 18px">
                <span> &euro;{{amount/100}}.00</span>
                <del v-if="amount !== 1500 "> (&euro;15.00)</del>
              </p>
            </v-flex>
          </v-layout>
          <v-alert v-if="alertUser"
                   :value="true"
                   type="error"
                   dismissible
          >
            {{alertMessage}}
          </v-alert>
          <v-layout v-if="isCoupon && !paid">
            <v-flex md6 sm6>
              <v-text-field solo
                            v-model="coupon"
              ></v-text-field>
            </v-flex>
            <v-flex md6 sm6>
              <v-btn
                @click="evalCoupon"
              >Apply Coupon
              </v-btn>
            </v-flex>
          </v-layout>
          <v-layout>
            <v-flex md6 sm6 v-if="!paid">
              <app-pay-pal></app-pay-pal>
            </v-flex>
            <v-flex md6 sm6 v-if="!paid">
              <app-stripe></app-stripe>
            </v-flex>
          </v-layout>
          <v-btn
            v-if="paid && !submitLoading"
            @click="onSubmit"
            raised
            :disabled="!valid"
            color="success"
          >
            Submit
          </v-btn>
          <v-progress-circular
            v-if="submitLoading"
            indeterminate
            color="green"
          ></v-progress-circular>
        </v-container>
      </v-form>
    </v-card>
  </v-container>
</template>

<script>
  import Stripe from "./../components/payment/Stripe";
  import Paypal from "./../components/payment/Paypal";
  import {dataBus} from "../main";
  import axios from "axios";

  export default {
    components: {
      appStripe: Stripe,
      appPayPal: Paypal,
    },
    // watch: {
    //   email: this.regData.email
    // },
    data() {
      return {
        submitLoading: false,
        isRegister: false,
        alertUser: false,
        alertMessage: '',
        amount: '',
        paid: false,
        prices: {},
        coupon: '',
        valid: true,
        show: false,
        isCoupon: false,
        rules: {
          required: value => !!value || 'Required.',
          min: v => v.length >= 8 || 'Min 8 characters',
        },
        emailRules: [
          v => !!v || 'E-mail is required',
          v => /.+@.+/.test(v) || 'E-mail must be valid'
        ],
        regData: {
          firstName: '',
          lastName: '',
          email: '',
          password: '',
          phoneNumber: '',
          taxCode: '',
          province: '',
          address: '',
          city: '',
          zipCode: ''

        },
      }
    },
    beforeCreate() {
      dataBus.$on('updatedData', (data) => {
        this.amount = parseFloat(data.amount);
        this.prices = data;
        if (this.amount === 0) {
          this.paid = true;
        }
      });
    },
    mounted() {
      dataBus.$on('checkPaid', (isPaid) => {
        console.log('is paid', isPaid.toString());
        this.paid = isPaid;
      });
      dataBus.$emit('emailChanged', this.regData.email);
      dataBus.$on('alertOn', (bool) => {
        this.alertUser = bool;
        console.log(this.alertUser);
        setTimeout(() => {
          this.alertUser = false;
        }, 5000);
      });
      dataBus.$on('loading', (bool) => {
        this.submitLoading = bool;
      });
    },
    methods:
      {
        onSubmit() {
          dataBus.$emit('loading', true);
          if (!this.paid && this.amount !== 0) {
            this.alertMessage = 'Please make payment first';
            dataBus.$emit('loading', false);
            dataBus.$emit('alertOn', true);
          } else {
            axios.post('https://www.googleapis.com/identitytoolkit/v3/relyingparty/signupNewUser?key=AIzaSyCWL2u6ErxSDWOjYTRBNne3vy739QMeXBA', {
              email: this.regData.email,
              password: this.regData.password,
              returnSecureToken: true
            }).then(
              response => {
                if (response.data.idToken) {
                  axios.post('https://passionefitsculptureburning.firebaseio.com/users.json', this.regData).then(
                    (response) => {
                      this.isRegister = true
                    });

                } else {
                  this.submitLoading = false;
                  this.alertMessage = 'Error Occur, Please try again with a different email address';
                  dataBus.$emit('alertOn', true);
                }
              }).catch(
              error => {
                dataBus.$emit('loading', false);
                this.alertMessage = 'Error Occur, Please try again with a different email address';
                dataBus.$emit('alertOn', true);
              });
          }
          dataBus.$emit('loading', false);
        }
        ,
        evalCoupon() {
          if (this.coupon in this.prices) {
            this.amount = this.prices[this.coupon];
            dataBus.$emit('amountChanged', this.amount);
            if (this.prices[this.coupon] === 0) {
              this.paid = true
            }
          } else {
            this.alertMessage = 'Invalid Coupon..Please try again or make payment to proceed';

            dataBus.$emit('alertOn', true);
          }
        }
      }
    ,
  }
</script>
