<template>
  <v-container>
    <v-spacer></v-spacer>
    <v-card class="text-sm-center text-md-center">
      <v-form v-model="valid"
              >
         <span><h3>Forgot your password?</h3>
           <p>Enter your email address and we’ll help you reset your password.</p></span>
        <v-layout
          align-center
          align-content-center>
          <v-flex md3 sm3></v-flex>
          <v-flex md6 sm6 offset3>
            <v-text-field
              label="Enter Email Address"
              v-model="email"
              :rules="emailRules"
              box></v-text-field>
          </v-flex>
        </v-layout>
        <v-alert v-if="alertUser"
                 :value="true"
                 :type="alertType"
                 dismissible
        >
          {{alertMessage}}
        </v-alert>
        <v-btn
          :disabled="!valid"
        @click="sendMail"> Reset Password</v-btn>
      </v-form>
    </v-card>
  </v-container>
</template>

<script>
  import axios from "axios";
  import {dataBus} from '../main'

  export default {
    name: "SendResetEmail",
    mounted() {
      dataBus.$on('alertOn', (bool) => {
        this.alertUser = bool;
        console.log(this.alertUser);
        setTimeout(() => {
          this.alertUser = false;
        }, 5000);
      });
    },
    data() {
      return {
        valid: true,
        alertMessage: '',
        alertType:'',
        alertUser:false,
        email: '',
        emailRules: [
          v => !!v || 'E-mail is required',
          v => /.+@.+/.test(v) || 'E-mail must be valid'
        ],
      }
    },
    methods: {
      sendMail() {
        axios.post('https://identitytoolkit.googleapis.com/v1/accounts:sendOobCode?key=AIzaSyCWL2u6ErxSDWOjYTRBNne3vy739QMeXBA', {
          'requestType': 'PASSWORD_RESET',
          email: this.email
        }).then(
          response => {
            console.log(response);
            this.alertMessage = 'Please check your email address for verification code';
            this.alertType = 'info';
            dataBus.$emit('alertOn', true);
          }).catch(
          (error) => {
            console.log(error);
            this.alertMessage = 'Email address is not registered';
            this.alertType = 'error';
            dataBus.$emit('alertOn', true);
          }
        )
      }
    }
  }
</script>

<style scoped>

</style>
