<template>
  <v-app>
    <v-content>
      <v-toolbar
        flat
        class="purple text-sm-center text-md-center text-lg-center">
        <v-card-text primary-title class="text-md-center text-sm-center">
          <h2 class="text-sm-center" style="margin:20%"><span
            style="font-family: Sofia, cursive;
               color: white; font-size: 48px;">Passione</span><span
            style="font-family: 'Droid Sans Fallback', cursive;
          font-weight: bolder; color: yellow;font-size: 40px;">FiT</span>
          </h2>
        </v-card-text>
      </v-toolbar>
      <v-content>
        <router-view></router-view>
      </v-content>

      <v-footer app
                flat
                class="purple lighten-1 white--text text-xs-center">
        <v-spacer></v-spacer>
        <div>&copy; {{ new Date().getFullYear() }}</div>
        <v-spacer></v-spacer>
      </v-footer>
    </v-content>
  </v-app>
</template>

<script>
  export default {

  }
</script>

