<template>
  <PayPal
    :amount="amount"
    :currency="currency"
    :client="credentials"
    @payment-completed="paymentComplete"
    @payment-cancelled="paymentCancelled"
    >
  </PayPal>
</template>

<script>
  import PayPal from 'vue-paypal-checkout'
  import {dataBus} from "../../main";

  export default {
    components: {PayPal},
    data() {
      return {
        amount: '0',
        currency: '',
        updatedData: {},
        credentials: {
          sandbox: 'AX1JdX3woT894krx09sEv4544a7oaxr0CySrUIzF5oyy6Pfi-nTvT_Rw4ntZB2xzEm8BJWLfT08NWlOO',
          production: 'Aa4s9jdAes7-th8xjDnjZRAPTf9x_uglhSBWlfq4On837UH-3Pf9QygVcPjLPI4CLWvt7XbDdrHY94qe'
        }
      }
    },
    beforeMount() {
      dataBus.$on('updatedData', (data) => {
        this.amount = (parseFloat(data.amount)/100).toString();
        this.currency = data.currency.toUpperCase();
      })
    },
    methods: {
      sleep(ms) {
        return new Promise(resolve => setTimeout(resolve, ms));
      },
      paymentComplete(payload) {
        console.log('Payment Completed');
        dataBus.$emit('madePayment', true);
      },
      paymentCancelled(payload) {
        console.log('Payment Cancelled');
        this.sleep(20000);
        alert('Payment was Cancelled... Please try again to Proceed')
      },

    }
  }
</script>

<style scoped>

</style>
