<template>
  <section>
    <div id="error-message"></div>
    <form action="" method="POST">
      <stripe-checkout
        on-success="broadcast"
        button="Pay with card"
        stripe-key="pk_live_ihuaC0ukkZwzjBa9qr1Au9cf008lo995a9"
        :product="product">
      </stripe-checkout>
    </form>
  </section>
</template>

<script>
  import axios from "axios";
  import {Bus, StripeCheckout} from 'vue-stripe';
  import {dataBus} from "../../main";

  export default {
    props: ['email'],
    components: {
      'stripe-checkout': StripeCheckout
    },
    watch: {
      email(val) {
        this.email = val
      }
    },
    data() {
      return {
        product: {
          name: 'Registration Fee',
          description: '',
          amount: '',
          currency: '',
          email: ''
        },
      }
    },
    beforeMount() {
      dataBus.$on('updatedData', (data) => {
        this.product.description = data.description.toString();
        this.product.amount = data.amount.toString();
        this.product.currency = data.currency.toString().toUpperCase()
      })
    },
    mounted() {
      Bus.$on('vue-stripe.success', payload => {
        let data = {
          token: payload.token,
          amount:  this.product.amount
        };
        if (payload.token) {
          axios.post('https://us-central1-passionefitsculptureburning.cloudfunctions.net/paystripe', data)
            .then(function (response) {
              self.charge = response.data;
              if (self.charge === 'success') {
                console.log('Payment Successful');
                dataBus.$emit('madePayment', true);
              }
              else{
                console.log(self.charge)
              }
            })
            .catch(function (error) {

              console.log(error);
            });
        } else {
          alert('An Unexpected Error Occur. Please try Again!')
        }
      });
      dataBus.$on('madePayment', (bool) => {
        console.log(bool)
      })
    },
    created() {
      dataBus.$on('amountChanged', (value) => {
        this.product.amount = value.toString()
      });
      dataBus.$on('emailChanged', (value) => {
        this.product.email = value
      })
    },
    methods: {}
  }
</script>

<style scoped>

</style>
